# Data Preprocessing

Objectives:-
1) Finding and Handling missing value
2) Findling outliers and removing outliers
3) Normalizing data using min max scalar
4) standardizing data using standard scalar

Making hypothetical dataframe

In [6]:
import pandas as pd
import numpy as np

# Create the data dictionary
data = {
    'Product_ID': ['P001', 'P002', 'P003', 'P004', 'P005', 'P006', 'P007', 'P008', 'P009', 'P010'],
    'Production_Output': [500, 520, np.nan, 485, 510, 700, 480, 515, np.nan, 495],
    'Machine_Hours': [25, 26, 24, 28, 30, 35, 22, 27, np.nan, 25],
    'Labor_Cost': [300, 310, 295, 290, np.nan, 600, 280, 305, np.nan, 300],
    'Defect_Rate (%)': [2.5, 3.1, 2.0, np.nan, 4.5, 10.0, 2.9, 3.0, np.nan, 2.6],
    'Energy_Consumption (kWh)': [1500, 1520, 1480, 1450, 1550, 1700, 1490, 1515, np.nan, 1500]
}

# Convert the data dictionary into a pandas DataFrame
df = pd.DataFrame(data)

# Display the DataFrame
df

,Product_ID,Production_Output,Machine_Hours,Labor_Cost,Defect_Rate (%),Energy_Consumption (kWh)
0,P001,500.0,25.0,300.0,2.5,1500.0
1,P002,520.0,26.0,310.0,3.1,1520.0
2,P003,NaN,24.0,295.0,2.0,1480.0
3,P004,485.0,28.0,290.0,NaN,1450.0
4,P005,510.0,30.0,NaN,4.5,1550.0
5,P006,700.0,35.0,600.0,10.0,1700.0
6,P007,480.0,22.0,280.0,2.9,1490.0
7,P008,515.0,27.0,305.0,3.0,1515.0
8,P009,NaN,NaN,NaN,NaN,NaN
9,P010,495.0,25.0,300.0,2.6,1500.0

Null value related Operations

In [8]:
# 1. Find Null Values
print("Null values in the dataset:\n", df.isnull().sum())

Null values in the dataset:
 Product_ID                  0
Production_Output           2
Machine_Hours               1
Labor_Cost                  2
Defect_Rate (%)             2
Energy_Consumption (kWh)    1
dtype: int64

In [14]:
 #2. Handle Null Values (mean imputation)
df['Production_Output'] = df['Production_Output'].fillna(df['Production_Output'].mean())
df['Machine_Hours'] = df['Machine_Hours'].fillna(df['Machine_Hours'].mean())
df['Labor_Cost'] = df['Labor_Cost'].fillna(df['Labor_Cost'].mean())
df['Defect_Rate (%)'] = df['Defect_Rate (%)'].fillna(df['Defect_Rate (%)'].mean())
df['Energy_Consumption (kWh)'] = df['Energy_Consumption (kWh)'].fillna(df['Energy_Consumption (kWh)'].mean())

In [16]:
# Check if any null values remain
print("\nNull values after imputation:\n", df.isnull().sum())

Null values after imputation:
 Product_ID                  0
Production_Output           0
Machine_Hours               0
Labor_Cost                  0
Defect_Rate (%)             0
Energy_Consumption (kWh)    0
dtype: int64

In [22]:
print("\nData after handling null values:\n")
df

Data after handling null values:

,Product_ID,Production_Output,Machine_Hours,Labor_Cost,Defect_Rate (%),Energy_Consumption (kWh)
0,P001,500.000,25.000000,300.0,2.500,1500.000000
1,P002,520.000,26.000000,310.0,3.100,1520.000000
2,P003,525.625,24.000000,295.0,2.000,1480.000000
3,P004,485.000,28.000000,290.0,3.825,1450.000000
4,P005,510.000,30.000000,335.0,4.500,1550.000000
5,P006,700.000,35.000000,600.0,10.000,1700.000000
6,P007,480.000,22.000000,280.0,2.900,1490.000000
7,P008,515.000,27.000000,305.0,3.000,1515.000000
8,P009,525.625,26.888889,335.0,3.825,1522.777778
9,P010,495.000,25.000000,300.0,2.600,1500.000000

Handling Missing Data with Mean Imputation:

Easy to handle:
Ease of Implementation: Mean imputation is straightforward to implement and can be done quickly without complex algorithms.

Bias Introduction:
Potential Bias: Replacing missing values with the mean can introduce bias, especially if the data is not normally distributed. It can skew results toward the mean value and reduce variance.

Loss of Information:
Information Loss: Mean imputation does not take into account the relationship between the feature with missing values and other features. This means that we might lose valuable information that could be used for prediction.
Reduction of Variance: By filling missing values with the mean effectively reduce the variability in the data, which can affect models that rely on variance (like many statistical models).

Finding out outliers

In [24]:
# 3. Find Outliers using the IQR method
def find_outliers_IQR(data, column_name):
    Q1 = data[column_name].quantile(0.25)
    Q3 = data[column_name].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = data[(data[column_name] < lower_bound) | (data[column_name] > upper_bound)]
    return outliers

# Detecting outliers in numeric columns
print("\nOutliers in Production_Output:\n", find_outliers_IQR(df, 'Production_Output'))
print("\nOutliers in Machine_Hours:\n", find_outliers_IQR(df, 'Machine_Hours'))
print("\nOutliers in Labor_Cost:\n", find_outliers_IQR(df, 'Labor_Cost'))
print("\nOutliers in Defect_Rate (%):\n", find_outliers_IQR(df, 'Defect_Rate (%)'))
print("\nOutliers in Energy_Consumption (kWh):\n", find_outliers_IQR(df, 'Energy_Consumption (kWh)'))

Outliers in Production_Output:
   Product_ID  Production_Output  Machine_Hours  Labor_Cost  Defect_Rate (%)  \
5       P006              700.0           35.0       600.0             10.0

   Energy_Consumption (kWh)
5                    1700.0

Outliers in Machine_Hours:
   Product_ID  Production_Output  Machine_Hours  Labor_Cost  Defect_Rate (%)  \
5       P006              700.0           35.0       600.0             10.0

   Energy_Consumption (kWh)
5                    1700.0

Outliers in Labor_Cost:
   Product_ID  Production_Output  Machine_Hours  Labor_Cost  Defect_Rate (%)  \
5       P006              700.0           35.0       600.0             10.0

   Energy_Consumption (kWh)
5                    1700.0

Outliers in Defect_Rate (%):
   Product_ID  Production_Output  Machine_Hours  Labor_Cost  Defect_Rate (%)  \
5       P006              700.0           35.0       600.0             10.0

   Energy_Consumption (kWh)
5                    1700.0

Outliers in Energy_Consumption (kWh):
   Product_ID  Production_Output  Machine_Hours  Labor_Cost  Defect_Rate (%)  \
5       P006              700.0           35.0       600.0             10.0

   Energy_Consumption (kWh)
5                    1700.0

In [64]:
# 3. Find and Remove Outliers using the IQR method
def remove_outliers_IQR(data, column_name):
    Q1 = data[column_name].quantile(0.25)
    Q3 = data[column_name].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    
    # Filter the data to remove outliers
    data_without_outliers = data[(data[column_name] >= lower_bound) & (data[column_name] <= upper_bound)]
    return data_without_outliers

# Remove outliers for all numeric columns
for column in ['Production_Output', 'Machine_Hours', 'Labor_Cost', 'Defect_Rate (%)', 'Energy_Consumption (kWh)']:
    df = remove_outliers_IQR(df, column)
df

,Product_ID,Production_Output,Machine_Hours,Labor_Cost,Defect_Rate (%),Energy_Consumption (kWh)
0,P001,500.000,25.0,300.0,2.5,1500.0
1,P002,520.000,26.0,310.0,3.1,1520.0
2,P003,525.625,24.0,295.0,2.0,1480.0
7,P008,515.000,27.0,305.0,3.0,1515.0
9,P010,495.000,25.0,300.0,2.6,1500.0

Improved Model Performance
Reduction of Noise: Outliers can act as noise in the data, distorting the patterns that a model tries to learn. Removing them can lead to a cleaner dataset and better model performance.
Increased Accuracy: By removing outliers, the model may perform better on unseen data, leading to improved predictive accuracy and generalization.

# 4. Useing Normal Scaler (MinMaxScaler)

In [26]:
# Drop the 'Product_ID' column since it's not numeric
df_numeric = df.drop(columns=['Product_ID'])

In [28]:
df_numeric

,Production_Output,Machine_Hours,Labor_Cost,Defect_Rate (%),Energy_Consumption (kWh)
0,500.000,25.000000,300.0,2.500,1500.000000
1,520.000,26.000000,310.0,3.100,1520.000000
2,525.625,24.000000,295.0,2.000,1480.000000
3,485.000,28.000000,290.0,3.825,1450.000000
4,510.000,30.000000,335.0,4.500,1550.000000
5,700.000,35.000000,600.0,10.000,1700.000000
6,480.000,22.000000,280.0,2.900,1490.000000
7,515.000,27.000000,305.0,3.000,1515.000000
8,525.625,26.888889,335.0,3.825,1522.777778
9,495.000,25.000000,300.0,2.600,1500.000000

In [34]:
from sklearn.preprocessing import MinMaxScaler
# Initialize scalers
normal_scaler = MinMaxScaler()

In [40]:
# Apply Normal Scaler (MinMaxScaler)
df_normal_scaled = pd.DataFrame(normal_scaler.fit_transform(df_numeric), columns=df_numeric.columns)
print("\nData after MinMaxScaler (Normal Scaling):\n")
df_normal_scaled

Data after MinMaxScaler (Normal Scaling):

,Production_Output,Machine_Hours,Labor_Cost,Defect_Rate (%),Energy_Consumption (kWh)
0,0.090909,0.230769,0.062500,0.062500,0.200000
1,0.181818,0.307692,0.093750,0.137500,0.280000
2,0.207386,0.153846,0.046875,0.000000,0.120000
3,0.022727,0.461538,0.031250,0.228125,0.000000
4,0.136364,0.615385,0.171875,0.312500,0.400000
5,1.000000,1.000000,1.000000,1.000000,1.000000
6,0.000000,0.000000,0.000000,0.112500,0.160000
7,0.159091,0.384615,0.078125,0.125000,0.260000
8,0.207386,0.376068,0.171875,0.228125,0.291111
9,0.068182,0.230769,0.062500,0.075000,0.200000

Conclusion
StandardScaler is a crucial preprocessing step in many machine learning workflows, ensuring that the input features are appropriately scaled for optimal model performance.

# 5. Useing Standard Scaler (StandardScaler)

In [50]:
from sklearn.preprocessing import StandardScaler

In [52]:
# Initialize scalers
standard_scaler = StandardScaler()

In [56]:
#Applying Standard Scaler
df_standard_scaled = pd.DataFrame(standard_scaler.fit_transform(df_numeric), columns=df_numeric.columns)
print("\nData after StandardScaler:\n")
df_standard_scaled

Data after StandardScaler:

,Production_Output,Machine_Hours,Labor_Cost,Defect_Rate (%),Energy_Consumption (kWh)
0,-0.426362,-5.524841e-01,-0.389249,-0.609655,-0.353769
1,-0.093592,-2.599925e-01,-0.278035,-0.333585,-0.043143
2,0.000000,-8.449757e-01,-0.444857,-0.839713,-0.664396
3,-0.675940,3.249907e-01,-0.500464,0.000000,-1.130336
4,-0.259977,9.099738e-01,0.000000,0.310579,0.422797
5,2.901343,2.372432e+00,2.947175,2.841221,2.752497
6,-0.759133,-1.429959e+00,-0.611678,-0.425608,-0.509082
7,-0.176784,3.249907e-02,-0.333642,-0.379596,-0.120799
8,0.000000,-1.039139e-15,0.000000,0.000000,0.000000
9,-0.509555,-5.524841e-01,-0.389249,-0.563643,-0.353769

StandardScaler can significantly enhance the performance and reliability of machine learning models by ensuring that all features contribute equally and appropriately to the modeling process. This step is crucial in many machine learning workflows, especially when dealing with diverse datasets with varying scales and distributions.